*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .5s;
    font-family: 'Poiret One', cursive;
}

:root
{
    --mainGray: #35363A;
    --gray: #6c757d;
}

body, html{
    overflow-x: hidden;
}

#root
{
    
}

#cardRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--gray);
    width: 500px;
    height: 500px;
    padding: 40px 20px;
    position: absolute;
    bottom: -250px;
    border-radius: 50%;
    left: calc(50vw -150px);
    box-shadow: 0 0 30px gray;
}

#cardRow h1{
    margin-top: 100px;
    color: white;
    font-size: 60px;
}

.weatherCard
{
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow  
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    bottom: 20px;
    background: var(--gray);
    box-shadow: 0 0 30px gray;
}

.arrow:hover{
    cursor: pointer;
}

.arrow i{
    color: white;
    font-size: 80px;
}

.weatherCard:hover{
    cursor: pointer;
}

.colFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#arrowRow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100vw;
}

#arrowRow > div{
    margin: 0 200px;
}
